body {
    margin: 0;
}

.navbar {
    height: 90px;
    width: 100%;
    background-image: linear-gradient(to top right, rgb(92, 164, 169), rgb(155, 193, 188));
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 6px 10px #888888;
}

.navbar > input {
    height: 60%;
    width: 50%;
    outline-style: none;
    border: none;
    border-radius: 10px;
    font-size: larger;
}

.navbar > button {
    height: 62%;
    width: 58px;
    margin-left: 1%;
    border-radius: 10px;
    border: none;
    background-image: url("recourses/search.png");
    outline: none;
    transition: 0.3s;
}

.navbar > button:hover {
    cursor: pointer;
    height: 63%;
    width: 58px;
    box-shadow: 1px 3px 10px #888888;
}
/* Main content -----------------------*/

.content {
    height: 47rem;
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#dataDisplay {
    height: 100%;
    width: 20%;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 3px 7px 10px #888888;
    margin: auto;
}

/* Map -------------------------------- */

#map {
    height: 100%;
    width: 78%;
    border-radius: 10px;
    border: 1px solid grey;
    /* background-image: url("recourses/map.jpg"); */
    box-shadow: 3px 7px 10px #888888;
    z-index: 1;
}

/* #toggleButton{
    height: 35px;
    width: 80px;
    position: absolute;
    top: 2%;
    right: 1.5%;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 5px 7px #888888;
    background-color: whitesmoke;
    transition: 0.3s;
    outline: none;
    color: black;
}

#toggleButton:hover{
    background-color: #a5a5a5;
    color: whitesmoke;
} */

/* Tab --------------------------*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to top right, rgb(92, 164, 169), rgb(155, 193, 188));
    width: 100%;
    height: 10%;
}

/* Style the buttons inside the tab */
.tab button {
    height: 100%;
    width: 50%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tabLink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    height: 90%;
    width: 100%;
    display: none;
    border-top: none;
    overflow-y: auto;
}

.tabContent > button {
    height: 7%;
    width: 98%;
    margin: 1%;
    background-image: linear-gradient(to top right, rgb(92, 164, 169), rgb(155, 193, 188));
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    outline: none;
    font-size: medium;
}

.tabContent > button:hover {
    background-image: none;
    background-color: #ccc;
    cursor: pointer;
}

.tabContent > ul {
    display: none;
}

a {
    color: black !important;
    font-size: large !important;
}

a:hover {
    color: rgb(92, 164, 169) !important;
    cursor: pointer !important;
}

/* Modal ------------------------------ */

#modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.gallery {
    height: 100%;
    width: 55%;
}

#modalContent {
    position: relative;
    background-color: antiquewhite;
    height: 80%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.mainPhoto {
    height: 64%;
    width: 99%;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 1%;
}

.mainPhoto img {
    width: 98%;
    height: 98%;
    margin: 1%;
}

.photoContainer {
    height: 34.5%;
    width: 100%;
    display: flex;
    overflow-x: auto;
    margin: 0;
}

.photoContainer img {
    width: 55%;
    height: 94%;
    border-radius: 10px;
    margin: 1%;
}

.photoContainer img:hover{
    cursor: pointer;
}

.description {
    height: 100%;
    width: 45%;
}

.description > * {
    height: 5%;
    width: 75%;
    margin: 3% auto;
    padding: 3%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    background-image: linear-gradient(to top right, rgb(92, 164, 169), rgb(155, 193, 188));
    color: whitesmoke;
}

.description > h1 {
    font-size: 230%;
}

.description > h3 {
    font-size: 190%;
}

.description > h4 {
    font-size: 160%;
}

.description > p {
    height: 40%;
    font-size: 140%;
    overflow-x: auto;
}

#modalClosing {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    color: black;
    border: none;
    background-color:inherit;
    outline-style: none;
}

#modalClosing:hover {
    cursor: pointer;
}

/* Responsiveness --------------------- */

@media (max-width: 599px) {
    .navbar > input {
        width: 70%;
    }

    .content {
        height: 70rem;
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
    }

    #map {
        height: 43%;
        width: 100%;
        margin-bottom: 1.5%;
    }

    #dataDisplay {
        height: 54%;
        width: 100%;
        margin-top: 10px;
    }

    #toggleButton {
        height: 25px;
        width: 70px;
        top: 1%;
    }

    #modalContent {
        height: 85%;
        width: 85%;
        flex-direction: column;
        overflow-y: auto;
    }

    .gallery {
        height: 43rem;
        width: 99%;
    }

    .description {
        height: 40rem;
        width: 100%;
    }

    .description > h1 {
        height: auto;
        font-size: 200%;
    }

    .description > h3 {
        font-size: 160%;
    }

    .description > h4 {
        font-size: 140%;
    }

    .description > p {
        font-size: 130%;
    }
    
    .description > * {
        height: 7.5%;
    }
}
